<% layout("/layouts/boilerplate") %>

    <div class="row mt-5 mb-5">
        <div class="col-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4">
            <div class="card shadow-sm border-0" style="border-radius: 1rem; overflow: hidden;">
                <div class="card-header bg-white text-center py-3 border-bottom">
                    <h5 class="mb-0 fw-bold">Log in</h5>
                </div>
                <div class="card-body p-4">
                    <h4 class="mb-4">Welcome to Wanderlust</h4>
                    <form action="/login" method="post" novalidate class="needs-validation">
                        <div class="mb-3">
                            <input name="username" id="username" placeholder="Username" type="text" class="form-control"
                                style="border-radius: 0.5rem; padding: 0.8rem 1rem;" required />
                        </div>
                        <div class="mb-4">
                            <input name="password" id="password" placeholder="Password" type="password"
                                class="form-control" style="border-radius: 0.5rem; padding: 0.8rem 1rem;" required />
                        </div>
                        <button class="btn edit-btn w-100 fw-bold py-2 fs-5">Continue</button>
                    </form>
                </div>
            </div>
        </div>
    </div>